VITE_FIREBASE_API_KEY=AIzaSyA110PapsS0fwLQzs-oEoF7papT9S3T5p7Q
VITE_FIREBASE_AUTH_DOMAIN=ipsc-insight-coach.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=ipsc-insight-coach
VITE_FIREBASE_STORAGE_BUCKET=ipsc-insight-coach.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=864793320312
VITE_FIREBASE_APP_ID=1:864793320312:web:c586e384bbe365444bc68d
